<div class="top-bar">
    <a [routerLink]="['/']" class="site-title"><h2>The World is listening...</h2></a>
  
    <a [routerLink]="['/signup']" class="button fancy-button"  *ngIf="!isLogin()"> 
      Sign Up    
    </a>

    <button class="button fancy-button" *ngIf="isLogin()" (click)="logout()">Logout</button>
    <label *ngIf="currentUser!=null" >Hello, {{currentUser.login}}</label>
    <a [routerLink]="['/login']" class="button fancy-button"  *ngIf="!isLogin()"> 
        Login
    </a>
</div>
